{% extends "layout.html" %}

{% block title %}
  <title>{{title}}</title>
{% endblock title %}

{% block content %}
 <div>
    <div class="container">
        <div class="panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{title}}</h3>
            </div>
            <div class="panel-body">
                {% comment %} 这个模板给两个路由函数使用，不需要些action，它会提交给自己 {% endcomment %}
                <form  method='post' novalidate>
                  {% csrf_token %}
                  {% for field in form  %}
                     <div>
                        {{field.label}}
                        {{field}}
                        <span style="color:red;">{{field.errors.0}}</span>
                     </div>
                  {% endfor %}
                  <button style="margin-top:5px;" type="submit" class="btn btn-success">保存</button>
                </form>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}