{% extends "layout.html" %}

{% block title %}
  <title>新增靓号</title>
{% endblock title %}

{% block content %}
 <div>
    <div class="container">
        <div class="panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">新建靓号</h3>
            </div>
            <div class="panel-body">
                <form action="/pretty/add/" method='post' novalidate>
                  {% csrf_token %}
                  {% for field in form  %}
                     <div>
                        {{field.label}}
                        {{field}}
                        <span style="color:red;">{{field.errors.0}}</span>
                     </div>
                  {% endfor %}
                  <button style="margin-top:5px;" type="submit" class="btn btn-success">保存</button>
                </form>
            </div>
        </div>
    </div>
 </div>
{% endblock content %}