{% extends "layout.html" %}
{% block title %}
  <title>新增用户</title>
{% endblock title %}

{% block content %}
  <div>
    <div class="containter">
      <div class="panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">新建用户</h3>
        </div>
        <div class="panel-body">
            <form action="/user/add/" method="post" novalidate>
                {% csrf_token %}
                {% for field in form %}
                   <div class="form-group">
                     {{field.label}}: {{field}} <br>
                     <span style="color:red;">{{field.errors.0}}</span>
                   </div> 
                  
                {% endfor %}
                <button type="submit" class="btn btn-success">保 存</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}